/**
 * @file
 * Styles for GuestHouse+'s better exposed filters.
 */
.sidebar__section .bef-exposed-form .form--inline > .form-item {
  float: none;
}
.sidebar__section .bef-exposed-form .form--inline fieldset legend {
  display: block;
  width: 100%;
  margin-bottom: 0;
  border-width: 0;
  text-transform: none;
  font-size: 15px;
}
.sidebar__section .bef-exposed-form .form--inline fieldset legend .fieldset-legend {
  display: block;
  float: none;
}
@media (min-width: 992px) {
  .sidebar__section .bef-exposed-form .form--inline > .form-item {
    margin: 0 0 20px;
  } 
}
.bef-slider.ui-slider-horizontal {
  margin-top: 20px;
}
