/**
 * @file
 * Styles for GuestHouse+'s breadcrumbs.
 */
.breadcrumb {
  margin: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
}
.breadcrumb__items {
  font-size: 0;
  margin: 0;
  padding: 25px 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d3d3d3;
}
.region--light-typography .breadcrumb__items {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}
.breadcrumb__item {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  text-transform: uppercase;
  line-height: 1.75;
  font-size: 11px;
  font-weight: 300;
}
.breadcrumb__item a {
  text-decoration: none;
}
.breadcrumb__item .breadcrumb__item-separator {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  font-size: 10px;
  padding: 0 13px 0 15px;
  vertical-align: baseline;
  font-weight: 400;
}
.breadcrumb__item:first-child .breadcrumb__item-separator {
  display: none;
}
.breadcrumb__item:nth-child(1) {
  padding-left: 0;
}
.breadcrumb__item:nth-child(1) a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  border: 0;
  bottom: 0;
  left: 15px;
  text-align: center;
}
.breadcrumb__item:nth-child(1) a:after {
  font-family: "FontAwesome";
  content: "\f015";
  color: #767676;
  font-size: 15px;
  line-height: 1;
}
.region--light-typography .breadcrumb__item:nth-child(1) a:after {
  color: #ffffff;
}
.breadcrumb__item:nth-child(1) a:hover {
  text-decoration: none;
}
