/**
 * @file
 * Visual styles for comment in GuestHouse+.
 */
/*Comment*/
.comment {
  margin: 0 0 20px 0;
  position: relative;
}
.comment header {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.comment .field--name-user-picture a {
  display: block;
}
.comment header + .comment__content-container {
  padding-left: 100px;
}
.comment h3.title {
  margin: 0 0 5px 0;
  font-size: 16px;
}
.comment__meta {
  font-size: 11px;
  color: #5f5f5f;
  font-style: italic;
  margin-bottom: 5px;
}
.comment__meta .username {
  font-weight: 700;
  font-size: 11px;
  font-style: normal;
}
.field--name-comment-body {
  font-size: 16px;
  line-height: 1.875;
}
.node .comment ul.links.inline {
  margin-right: -5px;
  margin-left: -5px;
  display: inline-block;
  padding: 0;
}
.node .comment ul.links li {
  font-size: 11px;
}
.node .comment ul.links li a {
  background: transparent;
  font-size: 11px;
  padding: 0 2px;
  margin: 0;
  font-weight: 400;
  display: inline;
  min-width: 0;
  text-align: left;
  border: none;
  color: #5f5f5f;
  text-transform: none;
  text-decoration: none;
  box-shadow: none;
}
.user-logged-in .node .comment ul.links li a {
  padding: 0 5px;
}
.node .comment ul.links li a:hover,
.node .comment ul.links li a:focus {
  background: transparent;
}
.node .comment ul.links li a:before {
  position: relative;
  font-family: "FontAwesome";
  padding: 0 5px 0 0;
}
.node .comment ul.links li.comment-delete a:before {
  content: "\f1f8";
  top: -1px;
}
.node .comment ul.links li.comment-edit a:before {
  content: "\f040";
}
.node .comment ul.links li.comment-reply a:before {
  content: "\f122";
}
.new-indicator {
  position: absolute;
  top: -25px;
}
.indented {
  margin-left: 100px;
}
@media (min-width: 768px) {
  .comment__links {
    text-align: right;
    display: inline-block;
    float: right;
  }
}
@media (max-width:767px) {
  .indented {
    margin-left: 65px;
  }
  .comment header {
    position: static;
    margin-bottom: 10px;
  }
  .comment header + .comment__content-container {
    padding-left: 0;
  }
  .comment__links {
    padding: 10px 0;
  }
  .comment__meta {
    margin-bottom: 10px;
  }
}
@media (max-width:480px) {
  .indented {
    margin-left: 30px;
  }
}
