/**
 * @file
 * Visual styles for GuestHouse+'s contact info block.
 */
.contact-info .icon {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 0 auto 30px;
  text-align: center;
  display: block;
  color: #5f5f5f;
  background: #ebebeb;
}
.contact-info .icon i {
  font-size: 30px;
  width: 100%;
  height: 100%;
  line-height: 92px;
}
.contact-info ul,
ul.contact-info {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-info li {
  overflow-wrap: break-word;
  padding: 0 0 0 35px;
  margin: 0 0 30px 0;
  position: relative;
}
.contact-info li:last-child {
  margin-bottom: 0;
}
.contact-info li > i {
  color: #5f5f5f;
  position: absolute;
  left: 0px;
  top: 4px;
  width: 22px;
  text-align: center;
}
.slideout__section .contact-info li {
  padding: 0 0 25px 25px;
  min-height: 0;
  position: relative;
}
.slideout__section .contact-info li > i {
  top: 5px;
  font-size: 15px;
  line-height: 1;
  width: 20px;
  height: auto;
  text-align: left;
  color: #707070;
  background-color: transparent;
}

/*colored regions*/
.region--light-typography .contact-info .icon {
  background-color: #ffffff;
  color: #767676;
}
.region--light-typography .contact-info li i {
  color: #ffffff;
}
.region--light-typography .slideout__section .contact-info li i {
  background-color: transparent;
}
.region--light-typography.region--dark-background .slideout__section .contact-info li i,
.region--light-typography.region--black-background .slideout__section .contact-info li i,
.region--light-typography.region--colored-background .slideout__section .contact-info li i {
  color: #ffffff;
}

/*contact info items grid*/
.block + .block .contact-info-items-grid {
  border-top-style: solid;
  border-width: 2px;
  border-color: #f2f4f6;
  margin-top: 45px;
  padding-top: 50px;
}
.contact-info-items-grid .contact-info-item {
  min-height: 160px;
  padding-top: 30px;
}
.contact-info-items-grid .contact-info-item.contact-info-item--bordered {
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #f2f4f6;
}
.contact-info-items-grid .contact-info-item__icon {
  font-size: 50px;
  margin-bottom: 15px;
  line-height: 1;
}
.contact-info-items-grid .contact-info-item__text {
  font-size: 20px;
  line-height: 1.2;
}
.region--dark-typography .contact-info-items-grid .contact-info-item__icon {
  color: #e6e6e6;
}
.region--light-typography .contact-info-items-grid .contact-info-item.contact-info-item--bordered,
.region--light-typography .block + .block .contact-info-items-grid {
  border-color: rgba(255, 255, 255, 0.15);
}

/*company info*/
.company-info {
  padding-top: 10px;
}
@media (max-width: 767px) {
  .company-info {
    padding-bottom: 10px;
  }
  .footer__section .contact-info li {
    padding: 0;
  }
  .contact-info li > i {
    position: static;
  }
}

/*contact info header-top*/
.contact-info-header-top {
  padding: 25px 0 15px;
  border-bottom-width: 1px;
  border-bottom-color: #cdcdcd;
  border-bottom-style: solid;
}
.region--light-typohgraphy .contact-info-header-top {
  border-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 480px) {
  .contact-info-header-top {
    padding: 10px 0 15px;
  }
}
