/**
 * @file
 * Visual styles for GuestHouse+'s status messages.
 */
.system-messages .col-md-12 {
  min-height: 0;
}
.messages {
  color: #ffffff;
  margin: 30px 0 10px;
  padding: 10px 45px;
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}
.headings-wide-spacing-enabled .messages {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.messages a {
  color: #ffffff;
  text-decoration: underline;
}
.messages a:hover {
  color: #ffffff;
  text-decoration: none;
}
.messages--status {
  background: #5dc96f;
}
.messages--error {
  background: #e44b4b;
}
.messages--warning {
  background: #f07d00;
}

/*Status messages symbols*/
.messages:before {
  font-family: "FontAwesome";
  font-size: 15px;
  position: absolute;
  left: 0;
  top: -2px;
  width: 45px;
  text-align: center;
  height: 100%;
  padding-top: 13px;
}
.messages--status:before {
  content: "\f00c";
}
.messages--error:before {
  content: "\f00d";
}
.messages--warning:before {
  content: "\f12a";
}
