/**
 * @file
 * Styles for GuestHouse+'s mini pager.
 */

/* Using .pager selector on the first one to override .region-content ul. */
.pager__items {
  margin: 20px 0;
  font-size: 0;
  padding: 0;
}
li.pager__item {
  padding: 0;
  margin: 0;
  display: inline-block;
}
li.pager__item > a,
li.pager__item.is-active {
  padding: 10px 15px;
  margin: 0 2px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  color: #5f5f5f;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  line-height: 1;
  text-decoration: none;
  background-color: transparent;
}
li.pager__item a:hover,
li.pager__item a:focus {
  border-color: #e9e9e9;
  background-color: transparent;
}

/*mini pager @colored regions*/
.region--light-typography li.pager__item > a,
.region--light-typography li.pager__item.is-active {
  color: #ffffff;
  background-color: transparent;
}
.region--light-typography li.pager__item a:hover,
.region--light-typography li.pager__item a:focus {
  border-color: #ffffff;
  color: #ffffff;
}

/*Reset Bootstrap's rules*/
.pager {
  margin: 0;
}
