/**
 * @file
 * Styles for GuestHouse+'s full pager.
 */

/* Using .pager selector on the first one to override .region-content ul. */
.pager__items {
  margin: 30px 0;
  padding: 30px 0px 0;
  border-top: 1px solid #f1f1f1;
  font-size: 0;
}
li.pager__item {
  padding: 0;
  margin: 0;
  display: inline-block;
}
li.pager__item--next {
  margin-left: 25px;
}
li.pager__item--previous {
  margin-right: 25px;
}
li.pager__item > a {
  padding: 10px 15px;
  margin: 0 2px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  color: #5f5f5f;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  line-height: 1;
  text-decoration: none;
  background-color: transparent;
}
li.pager__item.is-active a {
  background-color: transparent;
  border-color: #e9e9e9;
}
li.pager__item a:hover,
li.pager__item a:focus,
li.pager__item.is-active a:hover,
li.pager__item.is-active a:focus {
  border-color: #e9e9e9;
  background-color: transparent;
}

/*mini pager @colored regions*/
.region--colored-background .pager__items,
.region--dark-background .pager__items {
  border-color: rgba(255, 255, 255, 0.15);
}
.region--black-background .pager__items {
  border-color: #313131;
}
.region--light-typography li.pager__item > a {
  color: #ffffff;
  background-color: transparent;
}
.region--light-typography li.pager__item a:hover,
.region--light-typography li.pager__item.is-active a,
.region--light-typography li.pager__item.is-active:last-child a {
  border-color: #ffffff;
  color: #ffffff;
}

/*Reset Bootstrap's rules*/
.pager {
  margin: 0;
}
