/**
 * @file
 * Visual styles for the site branding block in GuestHouse+.
 */
@media (min-width: 992px) {
  .header-container .container-fluid .logo-and-site-name-wrapper {
    padding-left: 20px;
  }
}
.logo {
  float: left;
  margin-right: 10px;
  display: inline-block;
}
.logo-centered {
  float: none;
  text-align: center;
}
.logo-centered .site-branding__logo {
  display: block;
  margin-bottom: 10px;
}
.logo:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.site-name a {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.1;
  text-decoration: none;
}
.region--light-typography .site-name a {
  color: #ffffff;
}
.site-name a:hover {
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.site-slogan {
  font-size: 11px;
  line-height: 1.30;
  padding:0;
  font-weight: 400;
}
.region--light-typography .site-slogan {
  color: rgba(255, 255, 255, 0.85);
}
.headings-wide-spacing-enabled .site-slogan {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
@media (max-width:767px) {
  .logo {
    transform: scale(0.75);
  }
  .site-slogan {
    display: none;
  }
  .site-name {
    padding-top: 8px;
    display: inline-block;
  }
}

/*site branding at full width regions*/
.col-md-12 .logo-and-site-name-wrapper {
  margin: 0 0 15px;
  text-align: center;
}
.col-md-12 .logo {
  margin: 0 auto;
  float: none;
}
.col-md-12 .site-branding__logo {
  display: block;
  margin-bottom: 10px;
}
.col-md-12 .site-name a {
  font-size: 30px;
  margin-bottom: 5px;
  display: block;
}
.col-md-12 .site-slogan {
  font-size: 11px;
  font-weight: 400;
  color: inherit;
}

/* Site Branding @slideout region*/
.slideout__section .logo-and-site-name-wrapper {
  margin: 0 0 15px;
}
.slideout__section .logo {
  display: block;
  float: none;
  margin: 0 auto;
  text-align: center;
}
.slideout__section .logo a {
  margin: 0 auto;
  display: inline-block;
}
.slideout__section .site-name a {
  font-size: 30px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}
.slideout__section .site-slogan {
  font-size: 12px;
  font-weight: 300;
  color: inherit;
  text-align: center;
}

/* Site Branding @footer*/
.footer__section .logo-and-site-name-wrapper {
  margin: 0 0 15px;
}
.footer__section .site-name a {
  font-size: 30px;
  margin-bottom: 5px;
  display: block;
}
.footer__section .site-slogan {
  font-size: 11px;
  font-weight: 400;
  color: inherit;
}

/* Site Branding @subfooter*/
.region--dark-typography .subfooter__section .site-slogan {
  color: #a5a5a5;
}
