/**
 * @file
 * Visual styles for GuestHouse+'s tables.
 */
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: 25px 0 40px;
}
table tr th {
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: #eaeaea;
  padding: 15px 30px;
  font-weight: 400;
  color: #ffffff;
}
table thead + tbody tr:first-child th:first-child {
  border-top-width: 0;
}
table tr td {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #eaeaea;
  padding: 15px 30px;
  background-color: #ffffff;
  color: #5f5f5f;
}
table tr td:first-child {
  border-left-width: 1px;
}
table tr td:last-child {
  border-right-width: 1px;
}
table tr:first-child td {
  border-top-width: 1px;
}
table thead + tbody tr:first-child td {
  border-top-width: 0px;
}
