/**
 * @file
 * Visual styles for GuestHouse+'s benefits grid views.
 */
.view-benefits-grid .views-row {
  padding-top: 30px;
}
.view-benefits-grid .views-row {
  text-align: center;
}
.view-benefits-grid .view-benefits-icon {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 0 auto 40px;
  text-align: center;
  display: block;
  color: #ffffff;
}
.view-benefits-grid .views-row:hover .view-benefits-icon {
  background: #f5f5f5;
  color: #ffffff;
}
.view-benefits-grid .view-benefits-icon i {
  font-size: 30px;
  width: 100%;
  height: 100%;
  line-height: 92px;
}
.region--light-typography .view-benefits-grid .view-benefits-icon {
  background-color: #ffffff;
}
.region--light-typography .view-benefits-grid .views-row:hover .view-benefits-icon {
  background-color: rgba(255, 255, 255, 0.85);
}
.view-benefits-grid .views-field-title {
  margin-bottom: 20px;
}
.view-benefits-grid .views-field-field-image {
  margin: 0 auto 40px;
}
.view-benefits-grid .views-field-field-image img {
  border-radius: 100%;
}
