/**
 * @file
 * Visual styles for GuestHouse+'s service categories carousel.
 */
.mt-carousel-service-categories .owl-item {
  text-align: center;
}
.view-service-categories-carousel .overlay-target-link a {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  font-size: 0;
}
.view-service-categories-carousel .mt-carousel-item {
  padding-bottom: 10px;
}
.region--dark-typography .view-service-categories-carousel .mt-carousel-item {
  background-color: #f6f6f6;
}
.view-service-categories-carousel .views-field-name h4 {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 15px;
}
.region--light-typography .view-service-categories-carousel .views-field-name h4 a {
  text-decoration: none;
}
.view-service-categories-carousel .views-field-view-taxonomy-term {
  padding-bottom: 20px;
}
.view-service-categories-carousel .views-field-name,
.view-service-categories-carousel .views-field-description__value,
.view-service-categories-carousel .views-field-view-taxonomy-term {
  padding-left: 20px;
  padding-right: 20px;
}
.view-service-categories-carousel .owl-nav {
  bottom: -10px;
}
@media (max-width: 991px) {
  .view-service-categories-carousel {
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .mt-carousel-service-categories .owl-stage-outer {
    padding: 50px 0 50px;
  }
  .view-service-categories-carousel .views-field-description__value,
  .view-service-categories-carousel .views-field-view-taxonomy-term {
    display: none;
  }
  .view-service-categories-carousel .active + .active + .active {
    z-index: 500;
    margin-top: -30px;
  }
  .view-service-categories-carousel .active + .active + .active + .active {
    z-index: 10;
    margin-top: 0px;
  }
  .view-service-categories-carousel .active + .active + .active .mt-carousel-item {
    box-shadow: 0px 5px 15px rgba(60, 70, 80, 0.15), 0 15px 40px rgba(60, 70, 80, 0.08);
  }
  .view-service-categories-carousel .active + .active + .active + .active .mt-carousel-item {
    box-shadow: none;
  }
  .view-service-categories-carousel .active + .active + .active .views-field-description__value,
  .view-service-categories-carousel .active + .active + .active .views-field-view-taxonomy-term {
    display: block;
  }
  .view-service-categories-carousel .active + .active + .active + .active .views-field-description__value,
  .view-service-categories-carousel .active + .active + .active + .active .views-field-view-taxonomy-term {
    display: none;
  }
  .view-service-categories-carousel .owl-nav {
    width: 570px;
    left: 50%;
    margin-left: -285px;
    bottom: 120px;
  }
}
@media (min-width: 1920px) {
  .view-service-categories-carousel .owl-nav {
    width: 670px;
    margin-left: -335px;
  }
}
@media (min-width: 2560px) {
  .view-service-categories-carousel .owl-nav {
    width: 800px;
    margin-left: -400px;
  }
}
@media (min-width: 3300px) {
  .view-service-categories-carousel .owl-nav {
    width: 1000px;
    margin-left: -500px;
  }
}
